.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 50px;
    max-width: 330px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    width: 300px;
    margin: 0 0 15px;
    padding: 10px;
    font-family: 'NanumSquareNeo';
    font-size: 14px;
}

.button_container {
    display: flex;
    line-height: 30px;
}

.button {
    outline: 0;
    background-color: #70D2B4;
    border: 1px solid #70D2B4;
    color: #fff;
    width: 100px;
    padding: 8px 10px;
    margin-right: 80px;
    font-family: 'NanumSquareNeo';
    font-size: 14px;
    cursor: pointer;
}

.register_description {
    font-size: 14px;
    font-family: 'NanumSquareNeo';
}

.errmsg {
    margin-top: 20px;
    text-align: center;
    font-family: 'NanumSquareNeo';
    color: #CD1039;
}